*  { margin: 0px; padding: 0px; }

/* DICA DO PROF: belezinha? no máximo 3 fontes, porque com 3 fontes é mais fácil de testar */
body { font-size: 1em; font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;  background-color: #DFE0DF;}

/* header area */ 
#header-area { background-color: #f7b600; text-align: center; padding: 15px; }

.padding-header { padding: 10px; }

/* main area */

#main-area { width: 920px; margin: 0px auto; padding: 15px; }

#posts-area { width: 660px; float: left; }

#side-area { width: 240px; float: right; }

.post { padding: 20px; margin-bottom: 20px; background-color: #DFE0DF; }

.side-content { background-color: #DFE0DF; padding: 10px; margin-bottom: 20px; }

.side-post { font-size: 0.8em; padding: 10px; border-bottom: 1px dotted #594317; }

#footer-area { clear: both; text-align: center; padding: 15px; background-color: #594317; color: #DFE0DF; }

/* Formatações */

h1 { color: #594317; font-size: 2.5em; text-transform: capitalize; }

h2 { color: #f7b600; margin-bottom: 15px; text-transform: uppercase; }

h3 { color: #402e32; text-transform: uppercase; }

.white-font { color: #DFE0DF; }

a { text-decoration: none; text-transform: capitalize; font-size: 1.2em; margin-right: 25px; color: #DFE0DF; }

.side-content a { color: #402e32; }

.post-date { font-size: 0.8em; border-bottom: 1px solid #594317; padding-bottom: 10px; margin-bottom: 10px; display: block; }

img { border-radius: 8px; }

p { font-size: 1.1em; text-align: justify; margin-top: 10px; }

#text-format { text-transform: capitalize; }
