@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { margin: 0px; padding: 0px; box-sizing: border-box; }

li a { color: #fff; }


a { text-decoration: none!important;  }

ul { list-style: none; }

.container { display: grid; grid-template-rows: 120vh 200px repeat(3, 450px) 100vh 100px; font-family: sans-serif; }

.div-bg { background: url(./img/banner-bg.jpg) no-repeat; background-size: cover; display: grid; grid-template-rows: 150px  1fr; border-radius: 0px 0px 140px 140px; }

nav { display: grid; grid-template-columns: 1fr 1.5fr; justify-content: space-between; align-items: center; padding-left: 60px; }

ul { display: grid; grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr; list-style: none; place-items: center; }

header { color: #fff!important; display: grid; grid-template-areas: 
    'h5 img'
    'h2 img '
    'p img'
    'form img'; grid-template-columns: 50% 50%; padding-left: 60px; grid-template-rows: 50px 150px 150px 150px; }
.header-h5 { grid-area: h5; }
.header-h2 { grid-area: h2; }
.header-p { grid-area: p; }
.header-form { grid-area: form; }
.header-img { grid-area: img; border-radius: 16px; }

section { display: grid; grid-template-columns: repeat(4, 20%); grid-gap: 2.5%; grid-template-rows: 100%; justify-content: center; }
section .section-a { box-shadow: 0px 0px 16px #d9d9d9; color: #000; border-radius: 25px; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; }
section .section-div { background-color: #0071f8; border-radius: 100%; width: 90px; height: 90px; padding: 22.5px;  }

.most-popular { display: grid; grid-template-areas: 
    'pop-h6 pop-a'
    'pop-h2 pop-a'
    'pop-section pop-section'; }
.populares-h6 { grid-area: pop-h6; }
.populares-h2 { grid-area: pop-h2; }
.populares-a { grid-area: pop-a; }
.populares-section { grid-area: pop-section; display: grid; }

article { background-color: brown; }

footer { background-color: chartreuse; }