<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid e flex</title>
    <link rel="stylesheet" href="./layout01.css">
</head>
<body>
    <div class="flex-container">
        <header>header</header>
        <nav>nav</nav>
        <div>
            <div class="row-container">
                <section>section</section>
                <article>article</article>
            </div>
            <aside>aside</aside>
        </div>
        <footer>footer</footer>
    </div>
    <div class="grid-container">
        <header>header</header>
        <nav>nav</nav>
        <section>section</section>
        <article>article</article>
        <aside>aside</aside>
        <footer>footer</footer>
    </div>
</body>
</html>